body{
    box-sizing: border-box;
}
.container{
    width: auto;
    height:1000px;
    background-color: black;
    display:flex;
    flex-wrap: wrap;

}
.box{
    width:50px;
    height:50px;
    background-color: yellow;
    margin:10px;
    padding:10px;
    

}
.box1{
 
    flex-grow: 2;
    align-self: center;
}
.box2{
    flex-grow: 4;
}
@media(min-width:500px){
    .box{
        background-color: green;
    }
}