.container{
    width: 400px;
    background-color: pink;
    padding: 10px;



}
button{
    padding:20px;
    margin: 20px;
    width: 200px;
    height: 150px;
    border-radius: 0px;
 background-color: yellow; 
 transition-property:color,border-radius,width,height;
 transition-duration: 5s,3s,4s,4s;  
}
button:hover{

    padding:20px;
    margin: 20px;
    width: 200px;
 background-color: green;
  border-radius: 300px; 
  width:350px ;
  height:300px


}